@import "./normalize.css";

:root {
  --color-purple-to-blue: linear-gradient(#b95cff, #195ed3);
  --color-purple-to-blue-right: linear-gradient(to right, #b95cff, #195ed3);
  --color-yellow-to-orange: linear-gradient(#ffaf00, #ff8614);
  --color-orange-to-red-right: linear-gradient(to right, #ff8901, #ff314e);
  --color-red-to-lightRed: linear-gradient(#ff3051, #ff1c97);
  --color-pink-to-darkPink: linear-gradient(#fe14e7, #b81ee0);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Topography */
body {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  font-size: 2.1rem;
  font-weight: 400;
}

h1,
h2 {
  margin: 0 0 2rem;
  font-weight: 500;
}

h1 {
  font-size: 5.1rem;
}

h2 {
  font-size: 4.1rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Buttons */
.btn {
  padding: 2rem 6rem;
  font-size: 2.3rem;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  transform: scale(1.02);
}

.btn--outlined {
  outline: none;
  background: #fff;
  box-shadow: 0 0 2px #666;
  transition: all 0.15s;
}

.btn--outlined:hover {
  background: var(--color-purple-to-blue-right);
  color: #fff;
}

.btn--colored {
  background: var(--color-orange-to-red-right);
  color: #fff;
}

/* Lists */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--arrow .list__item {
  background: url("../images/Ellipse.png") no-repeat;
  padding-left: 4rem;
  padding-bottom: 1rem;
}

/* Cards */

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-right: 6.1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.card--rounded {
  border-radius: 40px;
}

.card.testimonial:hover {
  transform: scale(1.03);
}

.card.card--perspectiveX:hover {
  transform: perspective(100rem) rotateY(10deg);
  transform-origin: 0 50%;
  box-shadow: -7px 7px 10px #666;
}

.card.card--perspectiveY:hover {
  transform-origin: 50% 70%;
  transform: perspective(100rem) rotateX(10deg);
  box-shadow: 0 8px 8px -4px #666;
}

.card--purple-to-blue {
  background: var(--color-purple-to-blue);
  color: #fff;
}

.card--yellow-to-orange {
  background: var(--color-yellow-to-orange);
  color: #fff;
}

.card--red-to-lightRed {
  background: var(--color-red-to-lightRed);
  color: #fff;
}

.card--pink-to-darkPink {
  background: var(--color-pink-to-darkPink);
  color: #fff;
}

.card:hover .card__arrow {
  right: 3%;
}

.card__description {
  margin-bottom: 0;
}

.card .card__arrow {
  width: 2rem;
  position: absolute;
  bottom: 10%;
  right: 5%;
  transition: right 0.5s;
}

/* Testimonial card */

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 12rem 2rem 2rem;
}

.testimonial__avatar {
  position: absolute;
  left: calc(50% - 7.5rem);
  top: -7.5rem;
  width: 15rem;
}

.testimonial__description {
  font-weight: 300;
}

.testimonial__author {
  font-size: 3.4rem;
  color: #ff6300;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .testimonial {
    padding: 7rem 2rem 1rem;
  }

  .testimonial__description {
    font-size: 1.8rem;
  }

  .testimonial__avatar {
    width: 12rem;
    left: calc(50% - 6rem);
  }

  .testimonial__author {
    font-size: 3rem;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon:hover,
.icon--small:hover {
  cursor: pointer;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--blue {
  fill: #4073de;
}

/* Collapsibles */
.collapsible {
  display: flex;
  justify-content: space-between;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation bar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.nav__list {
  width: 100%;
  margin-top: 1rem;
}

.nav__item {
  padding: 0.5rem 0;
  border-bottom: 1px solid #bbb;
}

.nav__item > a {
  color: #4073de;
}

.nav__heading {
  font-size: 4.5rem;
  position: relative;
  margin-bottom: 0;
}

.nav__heading a {
  color: #4073de;
}

.nav__reg-sign {
  position: absolute;
  color: #4073de;
  font-size: 2.3rem;
  top: 5px;
  right: -17px;
}

@media screen and (max-width: 500px) {
  .nav__heading {
    font-size: 3.5rem;
  }

  .nav__list {
    font-size: 1.9rem;
  }

  .nav__reg-sign {
    font-size: 1.4rem;
    right: -10px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 2rem;
    padding-right: 0;
  }

  .nav__toggler {
    display: none;
  }

  .nav__heading {
    font-size: 5.1rem;
  }

  .nav__list {
    display: flex;
    width: auto;
    margin-top: 0;
    font-size: 2rem;
    opacity: 1;
    max-height: 100vh;
  }

  .nav__item {
    font-size: 1.8rem;
    padding: 4rem 1.9rem;
    border: 0;
    transition: all 0.3s;
  }

  .nav__item:hover {
    background: var(--color-purple-to-blue);
  }

  .nav__item:hover > a {
    color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    padding-left: 4rem;
  }

  .nav__item {
    font-size: 2.2rem;
    padding: 5rem 3.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .nav__item {
    font-size: 2.4rem;
    padding: 5rem 5rem;
  }
}

/* Blocks */
.block {
  padding: 2rem 1rem;
}

@media screen and (min-width: 768px) {
  .block {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .block {
    padding: 0 8rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 650px) {
  .grid--1x4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1140px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Hero component */
.hero__banner {
  width: 100%;
  display: block;
  position: relative;
  z-index: -1;
}

.hero__image-container {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15)
  );
}

.hero__content {
  position: relative;
  gap: 2rem;
  top: -5rem;
  margin-bottom: -5rem;
  transition: all 0.2s;
}

.hero__card {
  padding: 2rem;
  padding-right: 4rem;
}

.hero__heading {
  font-size: 3.2rem;
}

.hero__description {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    top: -15rem;
  }

  .hero__card {
    padding: 5rem 2rem;
    padding-right: 4rem;
  }

  .hero__heading {
    font-size: 4.5rem;
  }

  .hero__description {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero__content {
    column-gap: 3rem;
  }
}

/* Feature block */
.feature {
  gap: 2rem;
  margin: 0 auto;
  transition: all 0.2s;
}

.feature__image {
  width: 100%;
  display: block;
  padding: 0;
}

.feature__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #f7f7f7;
  padding: 3rem;
}

.feature__description {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.feature__body .btn {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .feature__body {
    padding: 1.5rem;
  }

  .feature__heading {
    font-size: 3.5rem;
  }

  .feature__description {
    font-size: 1.8rem;
  }

  .feature__body .btn {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .feature.grid--1x2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .feature:nth-of-type(odd) picture {
    order: 1;
  }

  .feature.grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Showcase block */
.showcase {
  position: relative;
  margin-top: 2rem;
}

.showcase__image {
  width: 100%;
  display: block;
}

.showcase__banner-heading {
  margin-bottom: 2rem;
  font-size: 3.3rem;
}

.showcase__banner-description {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.showcase .btn {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.showcase__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--color-red-to-lightRed);
  color: #fff;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .showcase {
    margin-top: 8rem;
  }

  .showcase__banner {
    position: absolute;
    max-width: 64rem;
    margin-left: 8rem;
    height: 100%;
    top: 0;
  }

  .showcase__banner-heading {
    font-size: 4.1rem;
    margin-bottom: 3rem;
  }

  .showcase__banner-description {
    font-size: 2.2rem;
    margin-bottom: 5rem;
  }
}

/* Events block */

.events {
  gap: 1rem;
  transition: all 0.2s;
  margin-top: 2rem;
}

.event__image {
  width: 100%;
  display: block;
  padding: 0;
}

.event__heading {
  font-size: 3.5rem;
}

.event__content .list__item {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.event__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 3rem;
  background: var(--color-yellow-to-orange);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .events.grid--1x2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .events {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .events:nth-of-type(odd) picture {
    order: 1;
  }

  .events {
    gap: 2rem;
  }

  .event__heading {
    font-size: 4.1rem;
  }

  .event__content .list__item {
    font-size: 2rem;
  }

  .events.grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1140px) {
  .event__content {
    padding: 0 4rem;
  }

  .event__heading {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }

  .event__content .list__item {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .event__content {
    padding: 0 8rem;
  }

  .event__heading {
    font-size: 5.1rem;
    margin-bottom: 4rem;
  }

  .event__content .list__item {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
}

/* Testimonials block */

.testimonials {
  gap: 10rem 3rem;
  margin-top: 6rem;
  transition: all 0.2s;
}

@media screen and (min-width: 768px) {
  .testimonials {
    margin-top: 12rem;
  }
}

@media screen and (min-width: 1024px) {
  .testimonials {
    margin-top: 15rem;
  }
}

/* Contact block */
/* Generated by http://css.spritegen.com CSS Sprite Generator */

.bg-instagram,
.bg-whatsapp,
.bg-twitter,
.bg-facebook,
.bg-phone {
  display: inline-block;
  background: url("../images/mediaIcons.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.bg-instagram {
  background-position: -0px -0px;
  width: 33px;
  height: 31px;
}
.bg-whatsapp {
  background-position: -0px -31px;
  width: 33px;
  height: 35px;
}
.bg-twitter {
  background-position: -0px -66px;
  width: 31px;
  height: 27px;
}
.bg-facebook {
  background-position: -0px -93px;
  width: 20px;
  height: 39px;
}
.bg-phone {
  background-position: -0px -132px;
  width: 20px;
  height: 35px;
}

.contacts {
  gap: 2rem;
  transition: all 0.2s;
}

.contacts__media {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.contacts__media-item {
  padding: 1.5rem 1rem 0 0;
}

.contact__map {
  width: 100%;
  display: block;
  padding: 0;
}

.contacts__body {
  background: #0094dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  color: #fff;
}

.contacts__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.contacts__phone-number {
  margin-left: 2rem;
  font-size: 3rem;
  color: #fff;
}

.contacts__address {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.contacts__email {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .contacts__phone-number {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .contacts__address {
    font-size: 1.8rem;
  }

  .contacts__email {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .contacts.grid--1x2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .contacts.grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts:nth-of-type(odd) picture {
    order: 1;
  }

  .contacts__body {
    padding: 0 4rem;
  }

  .contacts__phone-number {
    margin-left: 3rem;
    font-size: 3rem;
  }

  .contacts__address {
    font-size: 2.2rem;
  }

  .contacts__email {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1140px) {
  .contacts__phone-number {
    font-size: 5rem;
  }
}

/* Footer */
.footer {
  text-align: center;
  padding: 5rem 0;
}

.footer__info {
  font-weight: 300;
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 4rem 1rem;
  }

  .footer__info {
    font-size: 1.8rem;
  }
}
