@import "./normalize.css";

:root {
  --color-purple-to-blue: linear-gradient(#b95cff, #195ed3);
  --color-yellow-to-orange: linear-gradient(#ffaf00, #ff8614);
  --color-orange-to-red-right: linear-gradient(to right, #ff8901, #ff314e);
  --color-red-to-lightRed: linear-gradient(#ff3051, #ff1c97);
  --color-pink-to-darkPink: linear-gradient(#fe14e7, #b81ee0);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Topography */
body {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  font-size: 2.1rem;
  font-weight: 400;
}

h1,
h2 {
  margin: 0 0 2rem;
  font-weight: 500;
}

h1 {
  font-size: 5.1rem;
}

h2 {
  font-size: 4.1rem;
}

p {
  margin-top: 0;
}

/* Buttons */
.btn {
  padding: 2rem 6rem;
  font-size: 2.3rem;
  margin: 1rem;
  border: 0;
  cursor: pointer;
}

.btn--outlined {
  outline: none;
  background: #fff;
  box-shadow: 0 0 3px 3px #f3f3f3;
  transition: all 0.15s;
}

.btn--outlined:hover {
  background: var(--color-orange-to-red-right);
  color: #fff;
}

.btn--colored {
  background: linear-gradient(to right, #ff8a01, #ff314f);
  color: #fff;
}

/* Lists */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 6rem;
}

.list--arrow .list__item {
  background: url("../images/Ellipse.png") no-repeat;
  padding-left: 4rem;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Cards */

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-right: 6.1rem;
  position: relative;
  box-shadow: 0 0 2px #e6ebee;
  cursor: pointer;
  transition: all 0.5s;
}

.card.card--perspectiveX:hover {
  transform: perspective(100px) rotateY(1deg);
  transform-origin: 0 50%;
  box-shadow: -7px 7px 10px #666;
}

.card.card--perspectiveY:hover {
  transform-origin: 50% 70%;
  transform: perspective(100px) rotateX(1deg);
  box-shadow: 0 8px 8px -4px #666;
}

.card--purple-to-blue {
  background: var(--color-purple-to-blue);
  color: #fff;
}

.card--yellow-to-orange {
  background: var(--color-yellow-to-orange);
  color: #fff;
}

.card--red-to-lightRed {
  background: var(--color-red-to-lightRed);
  color: #fff;
}

.card--pink-to-darkPink {
  background: var(--color-pink-to-darkPink);
  color: #fff;
}

.card:hover .card__arrow {
  right: 3%;
}

.card__description {
  margin-bottom: 0;
}

.card__arrow {
  width: 2rem;
  position: absolute;
  bottom: 10%;
  right: 5%;
  transition: right 0.5s;
}

/* Testimonial card */

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f3f3f3;
  padding: 12rem 2rem 2rem;
}

.testimonial__avatar {
  position: absolute;
  left: calc(50% - 7.5rem);
  top: -7.5rem;
  width: 15rem;
}

.testimonial__description {
  font-weight: 300;
}

.testimonial__author {
  font-size: 3.4rem;
  color: #ff6300;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .testimonial {
    padding: 7rem 2rem 1rem;
  }

  .testimonial__description {
    font-size: 1.8rem;
  }

  .testimonial__avatar {
    width: 12rem;
    left: calc(50% - 6rem);
  }

  .testimonial__author {
    font-size: 3rem;
  }
}

/* Navigation bar */
