<div class="hero">
  <div class="hero__image-container">
    <picture>
      <source type="image/webp" srcset="images/banner.webp" />
      <source type="image/jpg" srcset="images/banner.jpg" />
      <img
        class="hero__banner"
        src="images/banner.jpg"
        alt="Person swimming underwater in a pool"
      />
    </picture>
  </div>
  <div class="grid grid--1x4 hero__content">
    <div class="card card--yellow-to-orange card--perspectiveY hero__card">
      <h2 class="hero__heading">Register for swim lessons</h2>
      <p class="hero__description">
        Our experienced instructors offer a variety of swimming lessons for
        children and teens.
      </p>
      <img
        class="card__arrow"
        src="./images/Arrow.png"
        alt="arrow point to right"
      />
    </div>
    <div class="card card--purple-to-blue card--perspectiveY hero__card">
      <h2 class="hero__heading">Franchise Opportunities</h2>
      <p class="hero__description">
        Swimming School Franchise is positioned as the leader in the thriving
        children's education
      </p>
      <img
        class="card__arrow"
        src="./images/Arrow.png"
        alt="arrow point to right"
      />
    </div>
    <div class="card card--red-to-lightRed card--perspectiveY hero__card">
      <h2 class="hero__heading">What Level is My Child?</h2>
      <p class="hero__description">
        Use our Level Finder to determine your swimmer's level or call us for
        any assistance you need!
      </p>
      <img
        class="card__arrow"
        src="./images/Arrow.png"
        alt="arrow point to right"
      />
    </div>
    <div class="card card--pink-to-darkPink card--perspectiveY hero__card">
      <h2 class="hero__heading">Locate a Swim School</h2>
      <p class="hero__description">
        Please check our map to find the nearest Swim School or call us for any
        assistance you need!
      </p>
      <img
        class="card__arrow"
        src="./images/Arrow.png"
        alt="arrow point to right"
      />
    </div>
  </div>
</div>
