<div class="showcase">
  <picture>
    <source type="image/webp" srcset="images/showcase.webp" />
    <source type="image/jpg" srcset="images/showcase.jpg" />
    <img
      class="showcase__image"
      loading="lazy"
      src="images/showcase.jpg"
      alt="Person jumping into a pool"
    />
  </picture>
  <div class="block showcase__banner">
    <h2 class="showcase__banner-heading">
      Why Our Swimming School is Rated #1 in The Region
    </h2>
    <p class="showcase__banner-description">
      We offer a variety of private and group lessons for children and teens.
      The lessons and swimming courses include everything your kid needs to swim
      confidently. Swimming School is proud to provide state of the art aquatic
      facilities.
    </p>
    <button class="btn btn--outlined">Read More</button>
  </div>
</div>
