<div class="container block grid grid--1x2 contacts">
  <picture>
    <source type="image/webp" srcset="images/contacts.webp" />
    <source type="image/jpg" srcset="images/contacts.jpg" />
    <img
      class="contact__map"
      loading="lazy"
      src="images/contacts.jpg"
      alt="Map location of swimming school"
    />
  </picture>
  <div class="contacts__body">
    <h2 class="contacts__heading">Contacts</h2>
    <p class="contacts__address">
      Address: 4578 Marmora Road, Glasgow D04 89GR
    </p>
    <div class="contacts__phone">
      <div class="bg-phone"></div>
      <span class="contacts__phone-number">1-800-2345-6789</span>
    </div>
    <p class="contacts__email">Email: youremail.com</p>
    <div class="contacts__media">
      <a class="contacts__media-item" href="#">
        <div class="bg-instagram"></div>
      </a>
      <a class="contacts__media-item" href="#">
        <div class="bg-facebook"></div>
      </a>
      <a class="contacts__media-item" href="#">
        <div class="bg-twitter"></div>
      </a>
      <a class="contacts__media-item" href="#">
        <div class="bg-whatsapp"></div>
      </a>
    </div>
  </div>
</div>
