<div class="container block grid grid--1x2 events">
  <picture>
    <source type="image/webp" srcset="images/events.webp" />
    <source type="image/jpg" srcset="images/events.jpg" />
    <img
      class="event__image"
      loading="lazy"
      src="images/events.jpg"
      alt="Person surfaces from underwater"
    />
  </picture>
  <div class="event__content">
    <h2 class="event__heading">Our Events</h2>
    <ul class="list list--arrow">
      <li class="list__item">Lorem ipsum dolor sit amet.</li>
      <li class="list__item">Lorem ipsum dolor, sit amet consectetur.</li>
      <li class="list__item">Lorem ipsum dolor sit.</li>
      <li class="list__item">Lorem ipsum dolor sit amet consectetur.</li>
      <li class="list__item">Lorem ipsum dolor sit amet.</li>
    </ul>
  </div>
</div>
