<div class="block grid grid--1x4 testimonials">
  <div class="card card--perspectiveY testimonial">
    <p class="testimonial__description">
      Thank you for making me a confident swimmer! I hope to learn more from
      school's instructors during future lessons
    </p>
    <p class="testimonial__author">Anne, 25 y.o.</p>
    <img
      class="testimonial__avatar"
      src="./images/avatar1.png"
      alt="arrow point to right"
    />
  </div>
  <div class="card card--perspectiveY testimonial">
    <p class="testimonial__description">
      I hated swimming until I joined this swimming school. Their lessons
      improved my swimming and breathing skills.
    </p>
    <p class="testimonial__author">Jane, 23 y.o.</p>
    <img
      class="testimonial__avatar"
      src="./images/avatar2.png"
      alt="arrow point to right"
    />
  </div>
  <div class="card card--perspectiveY testimonial">
    <p class="testimonial__description">
      I have been going here for swimming lessons for over 3 years and it helped
      me become a better swimmer.
    </p>
    <p class="testimonial__author">Peter, 28 y.o.</p>
    <img
      class="testimonial__avatar"
      src="./images/avatar3.png"
      alt="arrow point to right"
    />
  </div>
  <div class="card card--perspectiveY testimonial">
    <p class="testimonial__description">
      Joing this school has changed my life as I was afraid of water before but
      now I like it a lot, thanks to your lessons.
    </p>
    <p class="testimonial__author">Sam, 20 y.o.</p>
    <img
      class="testimonial__avatar"
      src="./images/avatar4.png"
      alt="arrow point to right"
    />
  </div>
</div>
