<div class="container block grid grid--1x2 feature">
  <picture>
    <source type="image/webp" srcset="images/featureImg1.webp" />
    <source type="image/jpg" srcset="images/featureImg1.jpg" />
    <img
      class="feature__image"
      loading="lazy"
      src="images/featureImg1.jpg"
      alt="Person surfaces from underwater"
    />
  </picture>
  <div class="feature__body">
    <h2 class="feature__heading">Welcome to our school!</h2>
    <p class="feature__description">
      Swimming School is proud to provide state-of-the-art aquatic facilities
      that are dedicated to indoor swim classes and programs for children.
    </p>
    <button class="btn btn--colored">Read More</button>
  </div>
</div>
<div class="container block grid grid--1x2 feature">
  <picture>
    <source type="image/webp" srcset="images/featureImg2.webp" />
    <source type="image/jpg" srcset="images/featureImg2.jpg" />
    <img
      class="feature__image"
      loading="lazy"
      src="images/featureImg2.jpg"
      alt="Person swimming on its side"
    />
  </picture>
  <div class="feature__body">
    <h2 class="feature__heading">Swim lessons for Children and teens</h2>
    <p class="feature__description">
      We offer a variety of private and group lessons for children and teens.
      The lessons and swimming courses include everything your kid needs to swim
      confidently.
    </p>
    <button class="btn btn--colored">Read More</button>
  </div>
</div>
